<html>
    <head>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even){background-color: #f2f2f2}

            th {
                background-color: #4CAF50;
                color: white;
            }
        </style>
    </head>
    <body>
        <h3>Boletas de Garantía</h3>
        <h4>Boletas por vencer</h4>
        <table>
            <tr>
                <th>Codigo</th>
                <th>Monto</th>
                <th>Concepto</th>
                <th>Fecha Vencimiento</th>
                <th>Días para Vencimiento</th>
            </tr>
            {% for item in data %}
                <tr>
                    <td>{{item.codigo}}</td>
                    <td>{{item.monto}}{{item.moneda}}</td>
                    <td>{{item.concepto}}</td>
                    <td>{{item.fecha_valido}}</td>
                    <td>{{item.dias}}</td>
                </tr>
            {% endfor %}

        </table>    
    </body>
</html>    

