<html>
    <head>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even){background-color: #f2f2f2}

            th {
                background-color: #4CAF50;
                color: white;
            }
        </style>
    </head>
    <body>
        <h3>Boletas de Garantía</h3>
        <h4>Recuperar contraseña</h4>
        Para recuperar su contraseña haga click en el enlace:
        <a href="http://boletas.planificacion.gob.bo/recover?t={{data['token']}}">aqui</a>
    </body>
</html>    

