<style>
    img{
        height: 15mm;
    }
    table{
        width: 100%;
        margin-top: 10mm;
    }
    td{
        font-family: 'arial';
        font-size: 9px;
    }
    .table, .th, .td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    .td, .td1{
        padding:1mm;
    }
    .td1{
        border: 1px solid black;
        border-collapse: collapse;
        background-color: #eeeeee;
    }
    th{
        font-size: 8px;
    }
    .o{
        position: absolute;
        border-radius: 50%;
        border-color: #000000;
        border-style: solid;
        border-width: 1px;
        width:4mm;
        height: 4mm;
        background-color: #ffffff;
    }
    .r{
        position: absolute;
        left: 30mm;
        border-radius: 50%;
        border-color: #000000;
        border-style: solid;
        border-width: 1px;
        width:4mm;
        height: 4mm;
        background-color: #eeeeee;
    }
    .rojo{
        background-image: url("orange.png");
    }
</style>

<table >
    <tr>
        <td  style='width:40mm;'>
            <img style='float:left;' src='{{asset('resources')}}/escudo.png'/>
        </td>
        <td style='text-align:center;'>
            <h3>Estado Plurinacional de Bolivia<br>
                Ministerio de Planificación del Desarrollo</h3>
        </td>
        <td style='width:40mm;'>
            <img style='float:right;' src='{{asset('resources')}}/logo.png'/>
        </td>
    </tr>    
</table>
<hr>
<h3 style="text-align:center;">Reporte de Boletas de Garantía <br>
<cite style="text-align:center;font-size:8px;">
    {% if moneda=='Bs' %}
        (Expresado en Bolivianos)
    {% else %}
        (Expresado en Dolares Americanos)
    {% endif %}        
</cite>
</h3>
<div class="o">

</div>
<div style="position: absolute;left:20mm;font-size:8px;"> Vigentes</div>

<div class="r">

</div>
<div style="position: absolute;left:35mm;font-size:8px;"> Fueron renovadas</div>
<div></div>
<table class="table">
    <tr>
        <th>
            CODIGO
        </th>
        <th>
            SERIE 
        </th>
        <th>
            POR CUENTA DE
        </th>
        <th>
            MONTO 
        </th>
        <th>
            OBJETO DE LA GARANTIA
        </th>
        <th>
            ENTIDAD EMISORA
        </th>
        <th>
            TIPO DE BOLETA
        </th>
        <th>
            ESTADO 
        </th>
        <th>
            FECHA VENCIMIENTO
        </th>
        <th>
            OBSERVACIONES
        </th>
        <th>
            DÍAS PARA VENCIMIENTO
        </th>
        <th>
            RENOVADO POR
        </th>
    </tr>  
    {% set v='' %}
    {% for item in data %}
        {% set v=item.codigo %}
        <tr>
            <td class="td">
                {{item.codigo}}
            </td>
            <td class="td">
                {{item.serie}}
            </td>
            <td class="td">
                {{item.proveedor}}
            </td>
            <td  class="td" style="text-align: right">
                {{item.moneda}}{{item.monto|number_format(2, ',', '.')}}
            </td>
            <td class="td">
                {{item.concepto}}
            </td>
            <td class="td">
                {{item.tipo}}
            </td>
            <td class="td">
                {{item.banco}}
            </td>
            <td class="td">
                {{item.estado}}
            </td>
            <td class="td">
                {{item.fecha_valido}}
            </td>
            <td class="td">
                {{item.observaciones}}
            </td>
            <td class="td">
                {{item.dias}}    
            </td>
            <td class="td">

            </td>

        </tr>  
        {% for item1 in item.childrens %}
            <tr>
                <td class="td1">
                    {{item1.codigo}}
                </td>
                <td class="td1">
                    {{item1.serie}}
                </td>
                <td class="td1">
                    {{item1.proveedor}}
                </td>
                <td  class="td1" style="text-align: right">
                    {{item.moneda}}{{item1.monto|number_format(2, ',', '.')}}
                </td>
                <td class="td1">
                    {{item1.concepto}}
                </td>
                <td class="td1">
                    {{item1.tipo}}
                </td>
                <td class="td1">
                    {{item1.banco}}
                </td>
                <td class="td1">
                    {{item1.estado}}
                </td>
                <td class="td1">
                    {{item.fecha_valido}}
                </td>
                <td class="td1">
                    {{item.observaciones}}
                </td>
                <td class="td1">
                    {{item.dias}}    
                </td>
                <td class="td1">
                    {{ v }}
                </td>
                {% set v=item1.codigo %}
            </tr>
        {% endfor %}    
    {% endfor %}
</table>






